:root {
  --sec-color: #ff8a44;
  --darker-sec-color: #995329;
  --main-color: #209198;
  --darker-main-color: #1c5558;
  --third-color: #004279;
  --darker-third-color: #002c34;
  --base-color: #ffffff;
  --base-transition-color: #eeeeee;
  --sistemas-main-color: #0f1035;
  --sistemas-second-color: #365486;
  --black-base-color: #000000;
  --black-second-color: #31363f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(330deg, #000, #000, var(--darker-third-color))
    fixed;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}

.photo-gallery {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border: 5px solid var(--main-color);
  border-radius: 10px;

  margin-bottom: 4rem;
}

.photo-gallery img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
  border-bottom: 5px solid var(--darker-main-color);
}

.photo-gallery img.active {
  display: block;
}

section {
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.footer-text {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h4,
p {
  color: white;
  text-align: center;
}

h1 {
  max-width: 1000px;
  margin: auto;
}

p {
  text-align: justify;
}

footer {
  background-color: var(--black-second-color);
  color: white;
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--sec-color);
}

#site-footer-t1 {
  display: block;
  margin-top: 10px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: rgb(20, 19, 19);
  margin: 15% auto;
  border: 1px solid #888;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  color: #000;
}

.modal-header {
  padding: 1rem;
  background-color: var(--main-color);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-title {
  font-size: 32px;
  font-weight: normal;

  flex-grow: 1;
  text-align: center;
}

.modal-body {
  padding: 2rem;
  font-weight: thin;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--main-color);
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: right;
}

.modal-signature {
  margin-top: 1rem;
  text-align: center;
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;

  position: absolute;
  left: 0;
  margin-left: 2rem;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

/* estilos para el flex-box de alumnos */
.alumnos-section {
  margin-bottom: 6rem;
}

.alumnos-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#grid-alumnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.container-alumno {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--main-color);
  border-radius: 12px;
  background-color: var(--black-second-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  /* overflow: hidden; */
  flex-basis: 100px;
}

.container-alumno:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.container-alumno:hover > .info-alumno > h4 {
  position: relative;
  display: block;
}

.imagen-alumno {
  max-width: 120px;
  border-radius: 8px;
}

.info-alumno {
  flex: 1;
  display: none;
}
