
section
{
  max-width: 1200px;
  margin: auto;

  display: flex;

  justify-content: center;
  gap: 40px;
}

section.alt{
  flex-direction: row-reverse;
}

section .img-block {
  --img-block-size: 500px;
  height: var(--img-block-img-size);
  width: var(--img-block-img-size);

  /* width: 100%; */
  

  display: flex;
  align-items: center;
}

section .img-block img {
  max-width: 100%;
  max-height: 100%;
}

section .text-block, section .text-block h1 {
  /* text-align: left; */
}

section .text-block, section .text-block h1 {
  margin-bottom: 20px;
}

section .text-block p {
  text-align: justify;
}

.header-logo {
  max-width: 50px; /* Ajusta el tamaño según sea necesario */
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  section {
    flex-wrap: wrap;
    align-content: center;
  }

  section .text-block {
    align-self: center;
  }
}